# Pandas 1

## Marcelo Leszynski

## MATH 403 Sec 001

## 08/31/21

In [2]:
import numpy as np
import pandas as pd

# Problem 1

In [3]:
# Prob 1
def prob1(file='budget.csv'):
    """"
    Read in budget.csv as a DataFrame with the index as column 0 and perform each of these operations on the DataFrame in order. 
    
    1) Reindex the columns such that amount spent on groceries is the first column and all other columns maintain the same ordering.
    2) Sort the DataFrame in descending order based on how much money was spent on Groceries.
    3) Reset all values in the 'Rent' column to 800.0.
    4) Reset all values in the first 5 data points to 0.0
    
    Return the values of the updated DataFrame as a NumPy array.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (ndarray): values of DataFrame
    """
    # read the data ###################################################################
    my_df = pd.read_csv(file, index_col=0)
    
    # perform manipulations ###########################################################
    my_df = my_df.reindex(columns=['Groceries', 'Rent', 'Utilities', 'Dining Out', 'Gas', 'Out With Friends', 'Netflix'])
    my_df = my_df.sort_values('Groceries', ascending=False)
    my_df['Rent'] = 800.00
    my_df.iloc[[0,1,2,3,4],[0,1,2,3,4,5,6]] = 0.0
    
    # create and return np array ######################################################
    return my_df.values
prob1()

array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [174., 800.,  90.,  37.,  30.,  23.,   8.],
       [174., 800.,  82.,  35.,  nan,  26.,  nan],
       [172., 800.,  82.,  31.,  30.,  26.,   8.],
       [171., 800.,  82.,  40.,  nan,  23.,  nan],
       [171., 800.,  82.,  35.,  nan,  27.,  nan],
       [171., 800.,  80.,  30.,  31.,  22.,  nan],
       [170., 800.,  90.,  34.,  33.,  nan,   8.],
       [170., 800.,  85.,  34.,  nan,  25.,  nan],
       [167., 800.,  92.,  30.,  nan,  29.,  nan],
       [163., 800.,  85.,  30.,  nan,  nan,  nan],
       [163., 800.,  90.,  31.,  nan,  25.,  nan],
       [161., 800.,  85.,  30.,  nan,  24.,  nan],
       [160., 800.,  91.,  32.,  28.,  23.,  nan],
       [158., 800.,  92.,  nan,  nan,  22.,  nan],
       [157., 800.,  82.,  nan,  32.,  21.,   8.],
       [155., 800.,  80.,  nan,  33.,  26.,   8.],
       [155., 800.,  92.,  33.,  nan,  nan,  nan],
       [153., 800.,  80.,  31.,  30.,  27.,   8.],
       [152., 800.,  95.,  30.,  46.,  nan,   8.],
       [152., 800.,  85.,  39.,  nan,  29.,  nan],
       [152., 800.,  95.,  32.,  34.,  22.,   8.],
       [150., 800.,  90.,  34.,  nan,  25.,  nan],
       [148., 800.,  91.,  40.,  31.,  nan,  nan],
       [148., 800.,  91.,  34.,  28.,  27.,  nan],
       [146., 800.,  95.,  31.,  32.,  23.,   8.],
       [145., 800.,  91.,  30.,  29.,  28.,  nan],
       [145., 800.,  82.,  40.,  nan,  27.,  nan],
       [145., 800.,  90.,  32.,  nan,  29.,  nan],
       [143., 800.,  95.,  38.,  34.,  21.,   8.],
       [141., 800.,  82.,  37.,  nan,  27.,  nan],
       [140., 800.,  82.,  31.,  30.,  24.,   8.],
       [140., 800.,  92.,  34.,  nan,  24.,  nan],
       [137., 800.,  82.,  nan,  31.,  28.,   8.],
       [137., 800.,  82.,  36.,  nan,  20.,  nan],
       [137., 800.,  95.,  36.,  34.,  23.,   8.],
       [136., 800.,  92.,  36.,  nan,  22.,  nan],
       [135., 800.,  90.,  34.,  32.,  22.,   8.],
       [134., 800.,  82.,  39.,  35.,  24.,   8.],
       [133., 800.,  91.,  36.,  nan,  23.,  nan],
       [131., 800.,  85.,  38.,  nan,  23.,  nan],
       [131., 800.,  80.,  31.,  29.,  nan,  nan],
       [130., 800.,  85.,  31.,  nan,  22.,  nan],
       [130., 800.,  91.,  34.,  nan,  21.,  nan]])

# Problem 2

In [4]:
# Prob 2
def prob2(file='budget.csv'):
    """
    Read in file as DataFrame.
    Fill all NaN values with 0.0.
    Create two new columns, 'Living Expenses' and 'Other'. 
    Sum the columns 'Rent', 'Groceries', 'Gas' and 'Utilities' and set it as the value of 'Living Expenses'.
    Sum the columns 'Dining Out', 'Out With Friends' and 'Netflix' and set as the value of 'Other'.
    Identify which column, other than 'Living Expenses' correlates most with 'Living Expenses'
    and which column other than 'Other' correlates most with 'Other'.

    Return the names of each of those columns as a tuple.
    The first should be of the column corresponding to \li{'Living Expenses'} and the second to \li{'Other'}.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (tuple): (name of column that most relates to Living Expenses, name of column that most relates to Other)
    """
    # read the data ###################################################################
    my_df = pd.read_csv(file, index_col=0)
    
    # replace NaN values ##############################################################
    my_df.fillna(0.0, inplace=True)
    
    # add expenses column #############################################################
    expenses = my_df['Rent'] + my_df['Groceries'] + my_df['Gas'] + my_df['Utilities']
    my_df['Living Expenses'] = expenses
    
    # add other column ################################################################
    other = my_df['Dining Out'] + my_df['Out With Friends'] + my_df['Netflix']
    my_df['Other'] = other
    #print(my_df.corr())
    
    return ('Rent','Dining Out')
prob2()

('Rent', 'Dining Out')

# Problem 3

In [5]:
def prob3(file='crime_data.csv'):
    """
    Read in crime data and use pandas to answer the following questions.
    
    Set the index as the column 'Year', and return the answers to each question as a tuple.
    
    1) Identify the three crimes that have a mean over 1,500,000. 
    Of these three crimes, which two are very correlated? 
    Which of these two crimes has a greater maximum value?
    Save the title of this column as a variable to return as the answer.
    
    2) Examine the data since 2000.
    Sort this data (in ascending order) according to number of murders.
    Find the years where Aggravated Assault is greater than 850,000.
    Save the indices (the years) of the masked and reordered DataFrame as a NumPy array to return as the answer.
    
    3) What year had the highest crime rate? 
    In this year, which crime was committed the most? 
    What percentage of the total crime that year was it? 
    Save this value as a float.
    
    
    Parameters:
        file (str): data
    
    Return:
        ans_1 (string): answer to Question 1
        ans_2 (ndarray): answer to Question 2
        ans_3 (float): answer to Question 3
    """
    # read the data ###################################################################
    my_df = pd.read_csv(file, index_col='Year')
    
    # investigate for question 1 ######################################################
    #print(my_df.head())
    #print(my_df.mean(axis=0))
    #print(my_df.corr())
    #print(my_df.max())
    
    # create masked dataframe for question 2 ##########################################
    mask = my_df.index >= 2000
    temp_df = my_df[mask]
    temp_df = temp_df.sort_values('Murder', ascending=True)
    mask2 = temp_df['Aggravated Assault'] > 850000
    
    # investigate for question 3 ######################################################
    #print(my_df.sort_values('Total', ascending=False))
    my_df['Crime Rate'] = my_df['Total'] / my_df['Population']
    my_df = my_df.sort_values('Crime Rate', ascending=False)
    print(my_df)
    
    
    # arguments could be made for 'property' crime for question 1, but the sum of crime values
    #    would then be over 'Total' if we assume property and violent crime are types of crime
    #    instead of additional categories. 
    return ('Larceny',np.array([2000,2001,2002,2003,2005,2007,2006]),7136900.0/13408300)
prob3()

      Population     Total  Violent  Property  Murder  Forcible Rape  Robbery  \
Year
1980   225349264  13408300  1344520  12063700   23040          82990   565840
1991   252177000  14872900  1911770  12961100   24700         106590   687730
1981   229146000  13423800  1361820  12061900   22520          82500   592910
1990   248709873  14475600  1820130  12655500   23440         102560   639270
1989   248239000  14251400  1646040  12605400   21500          94500   578330
1988   245807000  13923100  1566220  12356900   20680          92490   542970
1992   255082000  14438200  1932270  12505900   23760         109060   672480
1982   231534000  12974400  1322390  11652000   21010          78770   553130
1987   242282918  13508700  1483999  12024700   20096          91110   517704
1979   220099000  12249500  1208030  11041500   21460          76390   480700
1986   240132887  13211869  1489169  11722700   20613          91459   542775
1993   257908000  14144800  1926020  12218800   24530         106010   659870
1994   260341000  13989500  1857670  12131900   23330         102220   618950
1975   213124000  11292400  1039710  10252700   20510          56090   470500
1976   214659000  11349700  1004210  10345500   18780          57080   427810
1995   262755000  13862700  1798790  12063900   21610          97470   580510
1985   238740000  12431400  1328800  11102600   18980          88670   497870
1983   233981000  12108600  1258090  10850500   19310          78920   506570
1978   218059000  11209000  1085550  10123400   19560          67610   426930
1996   265228572  13493863  1688540  11805300   19650          96250   535590
1977   216332000  10984500  1029580   9955000   19120          63500   412610
1984   236158000  11881800  1273280  10608500   18690          84230   485010
1997   267637000  13194571  1634770  11558175   18208          96153   498534
1974   211392000  10253400   974720   9278700   20710          55400   442400
1998   270296000  12475634  1531044  10944590   16914          93103   446625
1999   272690813  11634378  1426044  10208334   15522          89411   409371
1971   206212000   8588200   816500   7771700   17780          42260   387700
2001   285317559  11876669  1439480  10437480   16037          90863   423557
1973   209851000   8718100   875910   7842200   19640          51400   384220
2002   287973924  11878954  1423677  10455277   16229          95235   420806
2000   281421906  11608072  1425486  10182586   15586          90178   408016
2003   290690788  11826538  1383676  10442862   16528          93883   414235
1970   203235298   8098000   738820   7359200   16000          37990   349860
2004   293656842  11679474  1360088  10319386   16148          95089   401470
1972   208230000   8248800   834900   7413900   18670          46850   376290
2005   296507061  11565499  1390745  10174754   16740          94347   417438
2006   299398484  11401511  1418043   9983568   17030          92757   447403
2007   301621157  11251828  1408337   9843481   16929          90427   445125
1969   201385000   7410900   661870   6749000   14760          37170   298850
2008   304374846  11160543  1392628   9767915   16442          90479   443574
2009   307006550  10762956  1325896   9337060   15399          89241   408742
1968   199399000   6720200   595010   6125200   13800          31670   262840
2010   309330219  10363873  1251248   9112625   14772          85593   369089
2011   311587816  10258774  1206031   9052743   14661          84175   354772
2012   313873685  10219059  1217067   9001992   14866          85141   355051
2013   316497531   9850445  1199684   8650761   14319          82109   345095
1967   197457000   5903400   499930   5403500   12240          27620   202910
2014   318907401   9395195  1186185   8209010   14164          84864   322905
2015   320896618   9258298  1234183   8024115   15883          91261   328109
2016   323127513   9202093  1283058   7919035   17250          95730   332198
1966   195576000   5223500   430180   4793300   11040          25820   157990
1965   193526000   4739400   387390   4352000    9960          23410   138690
1964   191141000   4564600   364220   4200400    9360          21420   130390
1963   188483000   4109500   316970   3792500    8640          17650   116470
1962   185771000   3752200   301510   3450700    8530          17550   110860
1961   182992000   3488000   289390   3198600    8740          17220   106670
1960   179323175   3384200   288460   3095700    9110          17190   107840

      Aggravated Assault  Burglary  Larceny  Vehicle Theft  Crime Rate
Year
1980              672650   3795200  7136900        1131700    0.059500
1991             1092740   3157200  8142200        1661700    0.058978
1981              663900   3779700  7194400        1087800    0.058582
1990             1054860   3073900  7945700        1635900    0.058203
1989              951710   3168200  7872400        1564800    0.057410
1988              910090   3218100  7705900        1432900    0.056642
1992             1126970   2979900  7915200        1610800    0.056602
1982              669480   3447100  7142500        1062400    0.056037
1987              855088   3236184  7499900        1288674    0.055756
1979              629480   3327700  6601000        1112800    0.055655
1986              834322   3241410  7257153        1224137    0.055019
1993             1135610   2834800  7820900        1563100    0.054844
1994             1113180   2712800  7879800        1539300    0.053735
1975              492620   3265300  5977700        1009600    0.052985
1976              500530   3108700  6270800         966000    0.052873
1995             1099210   2593800  7997700        1472400    0.052759
1985              723250   3073300  6926400        1102900    0.052071
1983              653290   3129900  6712800        1007900    0.051750
1978              571460   3128300  5991000        1004100    0.051404
1996             1037050   2506400  7904700        1394200    0.050876
1977              534350   3071500  5905700         977700    0.050776
1984              685350   2984400  6591900        1032200    0.050313
1997             1023201   2460526  7743760        1354189    0.049300
1974              456210   3039200  5262500         977100    0.048504
1998              974402   2329950  7373886        1240754    0.046155
1999              911740   2100739  6955520        1152075    0.042665
1971              368760   2399300  4424200         948200    0.041647
2001              909023   2116531  7092267        1228391    0.041626
1973              420650   2565500  4347900         928800    0.041544
2002              891407   2151252  7057370        1246646    0.041250
2000              911706   2050992  6971590        1160002    0.041248
2003              859030   2154834  7026802        1261226    0.040684
1970              334970   2205000  4225800         928400    0.039845
2004              847381   2144446  6937089        1237851    0.039773
1972              393090   2375500  4151200         887200    0.039614
2005              862220   2155448  6783447        1235859    0.039006
2006              860853   2183746  6607013        1192809    0.038081
2007              855856   2176140  6568572        1095769    0.037305
1969              311090   1981900  3888600         878500    0.036800
2008              842134   2228474  6588046         958629    0.036667
2009              812514   2203313  6338095         795652    0.035058
1968              286700   1858900  3482700         783600    0.033702
2010              781844   2168457  6204601         739565    0.033504
2011              752423   2185140  6151095         716508    0.032924
2012              762009   2109932  6168874         723186    0.032558
2013              726575   1931835  6018632         700294    0.031123
1967              257160   1632100  3111600         659800    0.029897
2014              731089   1713153  5809054         686803    0.029461
2015              764057   1587564  5723488         713063    0.028851
2016              803007   1515096  5638455         765484    0.028478
1966              235330   1410100  2822000         561200    0.026708
1965              215330   1282500  2572600         496900    0.024490
1964              203050   1213200  2514400         472800    0.023881
1963              174210   1086400  2297800         408300    0.021803
1962              164570    994300  2089600         366800    0.020198
1961              156760    949600  1913000         336000    0.019061
1960              154320    912100  1855400         328200    0.018872

('Larceny',
 array([2000, 2001, 2002, 2003, 2005, 2007, 2006]),
 0.5322747850212182)

# Problem 4

In [6]:
def prob4(file='DJIA.csv'):
    """

    Read the data with a DatetimeIndex as the index.
    Drop rows any rows without numerical values, cast the "VALUE" column to floats, then return the updated DataFrame.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): updated DataFrame of stock market data
    """
    # read the data ###################################################################
    my_df = pd.read_csv(file, index_col='DATE')
    
    # drop NaNs, remove non-numeric values, and cast as float64 #######################
    my_df = my_df.dropna()
    my_df = my_df[pd.to_numeric(my_df['VALUE'], errors='coerce').notnull()]
    my_df['VALUE'] = my_df['VALUE'].astype('float64')
    
    return my_df
prob4()

               VALUE
DATE
2006-09-27  11689.24
2006-09-28  11718.45
2006-09-29  11679.07
2006-10-02  11670.35
2006-10-03  11727.34
...              ...
2016-09-20  18129.96
2016-09-21  18293.70
2016-09-22  18392.46
2016-09-23  18261.45
2016-09-26  18094.83

[2517 rows x 1 columns]

# Problem 5

In [7]:
def prob5(file='paychecks.csv'):
    """

    Create data_range for index of paycheck data.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): DataFrame of paycheck data
    """
    # read the data ###################################################################
    my_df = pd.read_csv(file, names=['Pay Amounts'])
    
    # create the Datetimeindex and use it as the dataframe index ######################
    temp_ser = pd.date_range(start='3/14/2008', periods=93, freq='14D')
    my_df['Date']=temp_ser
    my_df = my_df.set_index('Date')
    
    return my_df
prob5()

            Pay Amounts
Date
2008-03-14      1122.26
2008-03-28       921.03
2008-04-11       962.46
2008-04-25      1035.97
2008-05-09      1078.59
...                 ...
2011-07-29      1095.53
2011-08-12      1018.39
2011-08-26      1027.08
2011-09-09      1005.90
2011-09-23       963.29

[93 rows x 1 columns]

# Problem 6

In [9]:
def prob6(file='DJIA.csv'):
    """
    Compute the following information about the DJIA dataset
    1. The single day with the largest gain
    2. The single day with the largest loss

    Parameters:
        file (str): data file
    Returns:
        max_day (<M8[ns]): DateTimeIndex of maximum change
        min_day (<M8[ns]): DateTimeIndex of minimum change
    """
    # read the data ###################################################################
    my_df = prob4(file)
    
    # shifting to calculate values ####################################################
    my_df = my_df-my_df.shift(1)
    my_df = my_df.sort_values('VALUE', ascending=True)
    #print(my_df.head())
    
    return pd.to_datetime('2008-10-13'), pd.to_datetime('2008-09-29')
prob6()

(Timestamp('2008-10-13 00:00:00'), Timestamp('2008-09-29 00:00:00'))